.readonly-field {
  background-color: #f0f0f0 !important;
  cursor: default !important;
  pointer-events: none;
  font-size: 0.75rem !important;
  line-height: 1.42857143 !important;
  color: #14171a !important;
}
