.header-wrap {
  position: fixed;
  width: calc(100vw - 70px);
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 65px;
  position: relative;
  z-index: 50;
  display: flex;
  margin: 0;
  .header-search-input {
    font-size: 0.75rem;
    padding: 7px 17px !important;
    font-weight: 400;
    letter-spacing: -0.005rem;
  }
  .rs-input-group {
    max-width: 34.375rem;
    width: 100%;
    height: 100%;
    background-color: #f9f9fa;
    display: flex;
    align-items: center;
    padding: 0 0.9375rem;
    border: none;
    input:focus::placeholder {
      color: transparent;
    }
  }
  .header-content-location {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    align-items: center;
    .icon {
      font-size: 1.25rem;
      color: #4284fc;
      margin-right: 0.6875rem;
    }
    button {
      align-self: center;
      color: #4284fc;
      font-weight: 400;
    }
  }
  .header-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
  }
  .mobile-menu-toggle {
    display: none;
  }
  .header-application-info {
    // border-left: 1px solid #e4e4e4;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.5625rem;
    padding: 0px 1rem;
    position: relative;
    margin-left: auto;

    .header-application-info-text {
      margin-left: 0.625rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 6.9375rem;
      .text {
        font-size: 0.77rem;
        font-weight: 500;
        color: #000000;
        line-height: 0.875rem;
      }
    }
  }
  @media only screen and (max-height: 590px), screen and (max-width: 768px) {
    justify-content: space-between;
    .mobile-menu-toggle {
      display: flex;
    }
    // .header-content-right {
    //   display: none;
    // }
    // .header-content {
    //   display: none;
    // }
  }
  .header-right-options {
    display: flex;
    align-items: center;
    border-left: solid #e4e4e4 1px;
    height: 1.5625rem;
    padding-left: 0.125rem;
    .headericon {
      padding-left: 1.75rem;
      &.user {
        button {
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          .rs-avatar-circle {
            height: 2.5rem;
            img {
              height: 2.5rem;
              object-fit: cover;
            }
          }
        }
      }
      &.menu {
        button {
          padding: 0.75rem;
          border-radius: 1.563rem;
          display: flex;
          background: none;
          .MuiIconButton-label span {
            display: flex;
            align-items: center;
          }
          &:hover {
            background-color: transparent;
          }
        }
      }
      &.notification {
        .MuiBadge-root {
          cursor: pointer;
        }
        .MuiBadge-badge {
          position: relative;
          top: -0.5rem;
          left: -0.688rem;
          transform: none;
          padding: 0;
          font-size: 0.5rem;
          box-shadow: 0 0.188rem 0.375rem #00000029;
        }
        span:focus {
          outline: none;
        }
      }
      img {
        width: 1.25rem;
      }
      .header-icon {
        font-size: 1.5625rem;
        color: #b6d0fd;
      }
      &.notification {
        font-size: 1.5625rem;
        color: #b6d0fd;
        max-width: 3.125rem;
      }
      &.user {
        .headeruser-pic {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 3.125rem;
        }
      }
      .headermenu-icon {
        color: #b6d0fd;
      }
    }
  }
}

.header-wrap {
  .header-right-options {
    .headericon.user {
      padding-left: 2rem;
      button {
        padding: 0;
        width: 2.5rem;
        border-radius: 3.438rem;
        height: 2.5rem;
        img {
          width: 2.5rem;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header-wrap {
    padding: 0.625rem 2rem 0.625rem 2rem;
  }
}

@media (max-width: 768px) {
  .header-wrap {
    width: 100vw;
    padding: 0.625rem 20px 0.625rem 60px;

    .rs-input-group {
      max-width: initial;
    }

    .header-content-search {
      width: -webkit-fill-available;
      margin-right: 20px;
    }

    .header-content-location {
      display: none;
    }

    .header-application-info {
      display: none;
    }

    .header-content-right {
      width: fit-content;
    }
  }
}