.searchicon{
  position: absolute;
  left: 0.813rem;
  top: 0.875rem;
  font-size: 1.25rem;
  color: #657786;
}
.location-dropdown{
  .default.text {
    left: 1.125rem !important;
    font-size: 0.75rem;
    color: #98A0AC;
    letter-spacing: 0.22px;
  }
}
.edit-location{
  .location-dropdown{
    input{
      padding-left: 1.125rem !important;
    }
    div.text{
      padding-left: 0!important;
    }
  }
}
